@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    display: none;
}

* {
  scroll-behavior: smooth;
}

@layer components{
  .screen-container {
    @apply h-screen -mt-[93px] max-w-[100vw] ;
  }
  
  .btn {
    @apply bg-primary h-[40px] lg:h-[54px] px-6 pr-16 rounded-[100px] uppercase text-main-bg relative font-bold text-[13px] lg:text-[16px];
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-col-center {
    @apply flex flex-col items-center justify-center;
  }

  .flex-mobile {
    @apply flex lg:flex-row flex-col;
  }

  .flex-column {
    @apply flex flex-col;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInError {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.error-message {
  animation: fadeInError 0.5s ease-in-out forwards; 
}


/* Genel otomatik doldurma stili */
input:-webkit-autofill,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #1A1A1A inset; /* Custom background color to override the default one */
  box-shadow: 0 0 0 1000px #1A1A1A inset; /* Custom background color to override the default one */
  -webkit-text-fill-color: #fff; /* Set the text color if needed */
}

/* Internet Explorer ve Edge için */
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #fff; /* Custom text color */
}

/* Firefox için */
input:-moz-autofill,
textarea:-moz-autofill {
  background-color: #1A1A1A !important; /* Custom background color */
  color: #fff; /* Set the text color if needed */
}


/* Placeholder rengi */
::placeholder {
  color: #aaa; /* Custom placeholder color */
}